<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780820743732-sa6kk1rg2i8pk9m1j6fdf9pdv7tb6qhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780820743732-sa6kk1rg2i8pk9m1j6fdf9pdv7tb6qhr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>780820743732-h8kvhuspqptk47fvvjih14m7qe4co2sh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJapSwLL-Vz83bIh6sxjfpj4ff6-FbS8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>780820743732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-e1319</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-e1319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780820743732:ios:4c4ee5caef03818b88ec61</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-e1319.firebaseio.com</string>
</dict>
</plist>